/* Reset some default styles */
:root {
  --bg-colour: #fffeec;
}

body {
  min-height: 100vh;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 5%;
  cursor: pointer;
}

/* index page background image */
.page-container {
  background-color: var(--bg-colour);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -4;
}

.img-container {
  background-color: var(--bg-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 650px;
  width: 1000px;
  z-index: -3;
}

.bg-img {
  position: absolute;
  height: 100%;
  z-index: -2;
}

.bg-bus {
  position: absolute;
  height: 45%;
  bottom: 2%;
  left: 10%;
  z-index: -1;
}

#title {
  position: absolute;
  font-size: 60px;
  top: 3%;
  right: 15%;
}

/* main content*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 1s;
}

.fade-in-later {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-in {
  left: -25%;
  opacity: 0;
  animation: leftIn 2s ease-in-out forwards;
}

@keyframes leftIn {
  from {
    left: -30%;
    opacity: 0;
  }
  to {
    left: 10%;
    opacity: 100;
  }
}

/* for results page */
.route-res {
  all: unset;
}
